<h1>Edit</h1>

<div class="row">
    <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- ここを追加 --> 


      <div class="form-group">
        <%= f.label :name, class: "col-xs-3 control-label", for: "user_name" %>
        <div class="col-xs-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>   
  
  　　<div class="form-group">
        <%= f.label :email, class: "col-xs-3 control-label", for: "user_email" %>
        <div class="col-xs-9">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>  
      
  　　<div class="form-group">
        <%= f.label :area, class: "col-xs-3 control-label", for: "user_area" %>
        <div class="col-xs-9">
          <%= f.text_field :area, class: "form-control" %>
        </div>
      </div>  
      
  　　<div class="form-group">
        <%= f.label :profile, class: "col-xs-3 control-label", for: "user_profile" %>
        <div class="col-xs-9">
          <%= f.text_area :profile, class: "form-control" %>
        </div>
      </div>  
      
  　　<div class="form-group">
        <%= f.label :password, class: "col-xs-3 control-label", for: "user_password" %>
        <div class="col-xs-9">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>  
      
  　　<div class="form-group">
        <%= f.label :password_confirmation, class: "col-xs-3 control-label", for: "user_password_confirmation" %>
        <div class="col-xs-9">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>  
      
      <div class="form-group">
       <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "送信", class: "btn btn-primary" %>
       </div>
      </div>
    <% end %>
</div>
